*{
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    width: 100vw;
}

.html-explicacao, .css-explicacao{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    gap: 50px;
    margin-left: 120px;
}

p{
    margin:auto;
    word-wrap: break-word;
    font-size: 25px;
}

img{
    margin: auto;
}

.css-explicacao{
    margin-top: 80px;
}